@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

/*レイアウト*/
h1 {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}


body {
    background-image: url("/image/image1.jpg");
    font-family: 'Nunito', sans-serif;
    position: relative;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
a {
    color: #dc6688;
    text-decoration: none;
}
a:hover {
    color: #dc6688;
}
.area1 {
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    margin:0 0 0 0px;
    text-align: center;
    letter-spacing: 0.03em;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

h2 {
    position: relative;
    padding-left: 25px;
    color: black;
}
h2 div {
    overflow-wrap: break-word;
}


h2:after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 390px;
    width: 25%;
    border-bottom: solid 3px rgb(119, 195, 223);
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
    position: fixed;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    min-height: 100vh;
    background: #333;
    z-index: 9999999;
    text-align:center;
    color:#fff;
}

#splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg{
    display: none;
}

/*========= bodyにappearクラスがついたら出現 ===============*/
body.appear .splashbg{
    display: block;
    content: "";
    position:fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #333;/*伸びる背景色の設定*/
    animation-name:PageAnime;
    animation-duration:1.2s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;

}

@keyframes PageAnime{
    0% {
        transform-origin:right;
        transform:scaleX(0);
    }
    50% {
        transform-origin:right;
        transform:scaleX(1);
    }
    50.001% {
        transform-origin:left;
    }
    100% {
        transform-origin:left;
        transform:scaleX(0);
    }
}

/*========= 画面遷移の後現れるコンテンツ設定 ===============*/

#container{
    opacity: 0;/*はじめは透過0に*/
}

/*========= bodyにappearクラスがついたら出現 ===============*/
body.appear #container{
    animation-name:PageAnimeAppear;
    animation-duration:1s;
    animation-delay: 0.8s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes PageAnimeAppear{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
