[mysqld]
default-storage-engine=InnoDB
character-set-server=utf8mb4
collation-server=utf8mb4_bin
secure-file-priv=NULL
default-authentication-plugin=mysql_native_password

general_log=ON #クエリログが有効
general_log_file=/var/log/mysql/query.log #ログファイルのパース
slow_query_log=true
slow_query_log-file=/var/log/mysql/slow.sql
long_query_time =0.5

[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4
